<div class="container">
    <h1>Update</h1>
    <table class="table table-striped">
      <tr>
        <label for="id">Id</label>
        <span class="form-control">{{ employForm.id }}</span>
        <label for="name">Name</label>
        <input type="text" class="form-control" [(ngModel)]="employForm.name" name="name" placeholder="Name" required><br>
        <label for="email">Email</label>
        <input type="email" class="form-control" [(ngModel)]="employForm.email" name="email" placeholder="Email" required><br>
        <label for="phone">Phone</label>
        <input type="tel" class="form-control" [(ngModel)]="employForm.phone" name="phone" placeholder="Phone" required><br>
        
        <button style="background-color: rgb(139, 113, 65);" class="form-control" (click)="updateEmployee(employForm)">Update</button>
        
      </tr>
    </table>
  </div>
